a{
	color: #000;
	text-decoration: none;
}
body{
	background: #b3b3ff;
}
#cuadro{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background: #e6e6ff;
}
#head{
	color: #000;
	height: 100px;
}